@model LoginOptionsViewModel

@if (Model.IsLoggedIn)
{
	<ul class="nav navbar-nav navbar-right">
		@if (Context.User.HasClaim(c => c.Type == "CMS" && c.Value == "Edit"))
		{
			<li>
				<a asp-controller="CMS" asp-action="Index" title="CMS"><span class="glyphicon glyphicon-pencil"></span>CMS</a>
			</li>
		}
		<li>
			<a asp-controller="Account" asp-action="Index" title="Account"><span class="glyphicon glyphicon-cog"></span>My Account</a>
		</li>
		<li>
			<a asp-controller="Account" asp-action="LogOff"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
		</li>
	</ul>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
		<li><a asp-area="" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span>Log in</a></li>
	</ul>
}
