@model  HomeViewModel.JsonSitemap

@{
	ViewData["Title"] = "Sitemap";
}
<h2>@ViewData["Title"].</h2>

<h3>Static Content (CMS)</h3>
<table class="table table-striped table-bordered table-hover table-responsive">
	@foreach (var item in Model.cms)
	{
		<tr>
			<td>
				<a href="/@item.url">@item.url</a>
			</td>
		</tr>
	}
</table>
