@model  HomeViewModel

@{
	ViewData["Title"] = "Sitemap";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-bordered table-hover table-responsive">
	@foreach (var page in Model.SitemapPages)
	{
		<tr>
			<td>
				<a href="/@page.Url">@page.Title</a>
			</td>
		</tr>
	}
</table>
