// colours
$colour-base: #888;
$colour-dark: #444;
$colour-gold: #e0aa00;
$colour-border: #e7e8ea;
$colour-border-light: #cfcfcf;
$colour-background: #f2f2f2;
$colour-background-dark: #a5acb4;
$colour-button: #0167ae;
$colour-button-cta: #458902;

// fonts
$font-base: 'Trebuchet MS', Helvetica, sans-serif;
$font-heading: 'PT Sans', 'Trebuchet MS', Helvetica, sans-serif;
