// common mixins
@import 'Mixins';

* {
	@include box-sizing(border-box);
}

body { padding-top: 50px; padding-bottom: 20px; }

.k-editor-inline { border-width: 0 !important; }

a > span.glyphicon { margin-right: 5px; }
