@using Microsoft.AspNetCore.Identity
@using Extranet.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	// determine currently logged in user (if any - default user name is anonymous)
	string userName = "anonymous";
	if (SignInManager.IsSignedIn(User))
	{
		var user = await UserManager.GetUserAsync(User);
		userName = string.Format("{0} {1}", user.FirstName, user.LastName);
	}
}

@if (SignInManager.IsSignedIn(User))
{
	<p>
		You are logged in as @userName
		-
		<a asp-controller="Account" asp-action="LogOff">Logout</a>
	</p>
}
else
{
	<p>
		You are not logged in
		-
		<a asp-controller="Account" asp-action="Login">Login</a>
		/
		<a asp-controller="Account" asp-action="Register">Register</a>
	</p>
}
