@using System.Security.Principal

<div id="f">
	<div class="in">
		<div class="l">
			@if (User.Identity.IsAuthenticated)
			{
				using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
				{
					@Html.AntiForgeryToken()
					WriteLiteral(string.Format("You are logged in as {0} - ", User.Identity.Name));
					@Html.ActionLink("Logout", "Logout", "Account", routeValues: null, htmlAttributes: new { title = "Logout" })
				}
			}
			else
			{
				WriteLiteral("You are not logged in - ");
				@Html.ActionLink("Login", "Login", "Account")
			}
		</div>
		<div class="r">&copy; @DateTime.Now.Year.ToString() Pin Digital Ltd</div>
	</div>
</div>
